/* Start=========================page Trang chủ============================ */
/* Start=============================header================================ */
.header {
    text-align: center;
    background: darkslategrey;
}
.header p {
    color: white;
    margin: 0px;
}
.header span {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.social span:hover {
    color: #31de79;
}
.social span {
    padding-left: 10px;
}
/* End=================================header=============================== */

/* Start================================menu================================ */
.menu-area{background: #d61a5e}
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#fff;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: #fff;background: #4CAF50;outline: 0;}
/*==========Sub Menu=v==========*/
/* .mainmenu .collapse ul > li:hover > a{background: #4CAF50;}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: #4CAF50;}
.mainmenu .collapse ul ul ul > li:hover > a{background: #4CAF50;} */

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{
    border: 1px solid #ced4da;
}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{
    border: 1px solid #ced4da;
}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64B5F6}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 767px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:140px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:140px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}
.mr-auto, .mx-auto {
    margin-right: 0px !important;
    margin-left: auto!important;
}
.menu .navbar-brand {
    font-weight: 900;
    font-size: 24px;
}
.menu .navbar-brand span {
    color: rgb(49, 222, 121);
}
.menu .mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover, .mainmenu li a:hover, .mainmenu li a:focus, .navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover {
    background: none;
}
.menu .navbar-nav a {
    color: black;
}
.mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover, .mainmenu li a:hover, .mainmenu li a:focus, .navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover {
    color: black;
    outline: 0;
}
.nav-affix {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
}
.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out;
}
/* End=====================================menu================================== */

/* Start================================slide-main=============================== */
.owl-1 {
    position: relative;
}
.slide-main .content-block {
    padding-left: 18%;
    padding-top: 120px;
}
.slide-main .content-block span {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #31de79;
}
.slide-main .content-block h2 {
    font-size: 44px;
    color: #000000;
    line-height: 1.3;
    font-weight: 300;
}
.slide-main .content-block strong {
    font-weight: 900;
}
.slide-main .content-block p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}
.slide-main .button {
    text-align: center;
    background: #31de79;
    border-radius: 10px;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.slide-main .button a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.slide-main .img-block img {
    width: 100%;
}
/* End================================slide-main============================== */

/* Start================================option================================ */
.option {
    background-size: cover;
    background-image: url('../images/bg_3.jpg');
}
.justify-content {
    justify-content: flex-end;
    margin-right: 0px;
}
.option-content {
    position: relative;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-top: 1px;
    background: rgba(255, 255, 255, 0.9);
}
.option-content:hover {
    text-decoration: none;
    transform: translate(-100px);
}
.option-content span {
    position: absolute;
    font-size: 20px;
    color: #89ecb2;
    left: 20px;
    top: 50%;
}
.option-content h2 {
    color: #31de79;
    font-size: 24px;
}
.option-content p {
    color: #232931;
    margin-bottom: 0;
}
/* End==================================option=================================== */

/* Start=============================block-style2================================ */
.block-style2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f8f9fa;
}
.block-style2 .title {
    text-align: center;
    padding-bottom: 50px;
}
.block-style2 .title span {
    color: #9ff669;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.block-style2 .title h2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 24px;
}
.block-style2 .title p {
    color: #999999;
}
.block-style2 .content-block {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.block-style2 .content-block img {
    width: 100%;
    border-radius: 50%;
}
.block-style2 .content-block h3 {
    font-size: 24px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0px;
}
.block-style2 .content-block p {
    color: #31de79;
    text-transform: uppercase;
    margin: 0px;
}
.block-style2 .content-block a {
    color: black;
    padding: 3px;
    padding-top: 25px;
}
.block-style2 .content-block a:hover {
    text-decoration: none;
}

.block-style2 .title h1 {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-weight: 600;
}
/* End================================block-style2================================ */

/* Start=============================slide-project================================ */
.owl-2 .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}
.box{position:relative}
.box:after{content:"";width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;transition:all .5s ease 0s}
.box:hover:after{opacity:1}
.box img{width:100%;height:auto;transition:all 1.5s ease 0s}
.box .box-content,.box17 .icon li a{position:absolute;transition:all .6s ease 0s}
.box:hover img{transform:scale(1.2)}
.box .box-content{width:100%;padding:20px 10px;background:rgba(0,0,0,0.7);left:0;z-index:1}
.box:hover .box-content{bottom:0}
.box .title{font-size:18px;font-weight:700;color:#fff;margin-top:0}
.box .post{display:block;font-size:14px;color:#fff}
@media only screen and (max-width:990px){.box{margin-bottom:30px}
}
/* End===============================slide-project================================ */

/* Start=============================block-style1================================ */
.block-style1 .img-block img {
    width: 100%;
}
.block-style1 .content-block {
    padding: 50px;
    padding-right: 15px;
}
.block-style1 .content-block span {
    text-transform: uppercase;
    color: #9ff669;
}
.block-style1 .content-block h2 {
    font-size: 34px;
    text-transform: capitalize;
    padding-bottom: 25px;
    padding-top: 10px;
}
.block-style1 .content-block p {
    color: #999999;
}
/* End================================block-style2================================ */

/* Start===========================slide-clients================================ */
.testimony {
    background: #31de79;
}
.testimony .img-block {
    width: 130px;
    height: 130px;
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    border: 8px solid #31de79;
    position: relative;
}
.testimony .content-text {
    background: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -65px;
    border-radius: 4px;
}
.testimony .content-block p {
    font-size: 20px;
    padding-bottom: 25px;
    text-transform: none;
    color: black;
}
.testimony .content-block h5 {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.testimony .content-block span {
    font-size: 18px;
    color: #b3b3b3;
}
.owl-3 .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}
/* End=============================slide-clients================================ */

/* Start==============================blog====================================== */
.blog .img-block {
    position: relative;
}
.blog .img-block img {
    border-radius: 0px;
}
.blog .text-block {
    padding-top: 15px;
    text-align: left;
}
.blog .text-block a {
    font-size: 20px;
    color: #000000;
}
.blog .text-block a:hover {
    color: #31de79;
}
.blog .text-block p {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    text-transform: none;
    padding-top: 15px;
    padding-bottom: 25px;
}
.blog .button {
    text-align: center;
    background: #9ff669;
    border-radius: 10px;
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog .button:hover {
    background: darkgoldenrod;
}
.blog .button a {
    color: #fff;
    font-size: 15px;
}
.blog .img-block-label {
    background: #9ff669;
    display: flex;
    width: 40%;
    position: absolute;
    top: 0px;
    left: 2px;
}
.blog .day p {
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}
.blog .year p {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    color: white;
}
/* End================================blog========================================== */

/* Start==========================block-style7====================================== */
.block-style7 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.block-style7 .title {
    text-align: center;
    padding-bottom: 50px;
}
.block-style7 .title span {
    color: #9ff669;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.block-style7 .title h2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 24px;
}
.block-style7 .title p {
    color: #999999;
}
.block-style7 .comments input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.block-style7 .comments textarea {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.block-style7 .comments p {
    font-size: 24px;
    font-weight: 600;
}
.block-style7 .button {
    text-align: center;
    background: #9ff669;
    border-radius: 10px;
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.block-style7 .button:hover {
    background: darkgoldenrod;
}
.block-style7 .button a {
    color: #fff;
    font-size: 15px;
}
.block-style7 .button a:hover {
    text-decoration: none;
}
.block-style7 .contact-inf p {
    font-size: 24px;
    font-weight: 600;
}
/* End===========================block-style7====================================== */

/* Start==========================footer=========================================== */
.footer {
    background: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
}
.footer p {
    color: rgba(255, 255, 255, 0.7);
}
.footer a:hover {
    text-decoration: none;
}
/* End==================================footer======================================== */

/* Start==========================button-back to top=================================== */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 45px;
    height: 45px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* End==========================button-back to top=================================== */
/* End===============================Trang chủ======================================= */